<main class="main">
  <section class="taps">
    <input type="button" value="New Donations" class="new main-tap tap-focus">
    <input type="button" value="Current Donations" class="current main-tap">
    <input type="button" value="Done Donations" class="done main-tap">
  </section>
  <section class="cards--new cards-section">
    {{#each card}}
    {{#unless this.current}}
    {{#unless this.done}}
    <div class="card--taps">
      <input type="button" value="Personal Info" class="tap--personal tap-focus">
      <input type="button" value="Donation" class="tap--donation" id={{this._id}}>
    </div>
    <div class="cards--info">
      <div class="cards--info-personal">
        <h4 class="fullName">Full Name: {{this.fullName}}</h4>
        <h4 class="phoneNumber">Phone Number: {{this.phoneNumber}}</h4>
        <h4 class="email">Email: {{this.email}}</h4>
        <h4 class="city">City: {{this.cityName}}</h4>
      </div>
      <div class="cards--info-donation hide">
        <h4 class="piecesNumber">Number Of Pieces: {{this.numberOfPieces}}</h4>
        <h4 class="gender">Quality(s): {{this.quality}}</h4>
        <h4 class="quality">Gender(s): {{this.gender}}</h4>
        <h4 class="season">Season(s): {{this.season}}</h4>
      </div>
    </div>
    {{/unless}}
    {{/unless}}
    {{/each}}
  </section>
  <section class="cards--current cards-section hide">
    {{#each card}}
    {{#if this.current}}
    {{#unless this.done}}
    <div class="card--taps">
      <input type="button" value="Personal Info" class="tap--personal tap-focus">
      <input type="button" value="Donation" class="tap--donation">
    </div>
    <div class="cards--info">
      <div class="cards--info-personal">
        <h4 class="fullName">Full Name: {{this.fullName}}</h4>
        <h4 class="phoneNumber">Phone Number: {{this.phoneNumber}}</h4>
        <h4 class="email">Email: {{this.email}}</h4>
        <h4 class="city">City: {{this.cityName}}</h4>
      </div>
      <div class="cards--info-donation hide">
        <h4 class="piecesNumber">Number Of Pieces: {{this.numberOfPieces}}</h4>
        <h4 class="gender">Quality(s): {{this.quality}}</h4>
        <h4 class="quality">Gender(s): {{this.gender}}</h4>
        <h4 class="season">Season(s): {{this.season}}</h4>
      </div>
    </div>
    <label for="{{this._id}}" class="checkBox-label"><input type="checkbox" name="checked" id={{this._id}}
        class="checkBox checkBox-box">Mark as
      Done</label>
    {{/unless}}
    {{/if}}
    {{/each}}
    <input type="button" value="Done" class="doneBtn">
  </section>
  <section class="cards--done cards-section hide">
    {{#each card}}
    {{#if this.done}}
    <div class="card--taps">
      <input type="button" value="Personal Info" class="tap--personal tap-focus">
      <input type="button" value="Donation" class="tap--donation">
    </div>
    <div class="cards--info">
      <div class="cards--info-personal">
        <h4 class="fullName">Full Name: {{this.fullName}}</h4>
        <h4 class="phoneNumber">Phone Number: {{this.phoneNumber}}</h4>
        <h4 class="email">Email: {{this.email}}</h4>
        <h4 class="city">City: {{this.cityName}}</h4>
      </div>
      <div class="cards--info-donation hide">
        <h4 class="piecesNumber">Number Of Pieces: {{this.numberOfPieces}}</h4>
        <h4 class="gender">Quality(s): {{this.quality}}</h4>
        <h4 class="quality">Gender(s): {{this.gender}}</h4>
        <h4 class="season">Season(s): {{this.season}}</h4>
      </div>
    </div>
    {{/if}}
    {{/each}}
  </section>
  <section class="popUpsection hide">
    <div class="popUp">
      <p class="mainParagraph">ALl selected cards convert to the done state</p>
      <input type="button" value="OK" class="back">
    </div>
  </section>
</main>