<div class="admin--information">
  <i class="far fa-user-circle"></i>
  {{#each result}}
  <div class="information--container">
    <div class="admin--information-name">
      <div class="full--name-label">Full Name :</div>
      <div class="full--name">{{this.full_name}} </div>
    </div>
    <div class="admin--information-email">
      <div class="email--label">Email :</div>
      <div class="email">{{this.email}} </div>
    </div>
    <div class="admin--information-password">
      <div class="password--label ">Password :</div><input type="password" value={{this.password}} disabled
        class="password">
      <i class="fas fa-eye"></i>
    </div>
    <div class="admin--information-password-show hiden">
      <div class="password--label ">Password :</div><input type="text" value={{this.password}} disabled
        class="password">
      <i class="fas fa-eye-slash"></i>
    </div>
  </div>
  {{/each}}
  <div class="total--donations">
    Total Donations :{{{totalDonations}}}
  </div>
</div>